.table {
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
  margin-bottom: 40px;
}

.table__title {
  text-align: center;
  font-weight: 800;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table__country {
  font-weight: 700;
}

.table__cases {
  color: red;
}
