* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  max-height: 100vh;
}

body {
  background-color: #f5f6fa;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  font-size: 2rem;
}

.app__left {
  flex: 0.9;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.app_graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
